<nav>
	<h1>DVD Rentals Inc.</h1>
	<ul>
		<ul>
			<a href="/">[Home]</a>
		</ul>
		<ul>
			<a href="/about">[About]</a>
		</ul>
		<ul>
			<a href="/films/listing">[Films Listing]</a>
		</ul>
		<ul>
			<a href="/films">[Modify Films Table]</a>
		</ul>
	</ul>
</nav>
