<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<h1>Home</h1>
		<hr />
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
			repudiandae provident, recusandae porro pariatur sunt reprehenderit facere
			amet non quaerat iusto asperiores doloremque animi suscipit distinctio,
			ducimus delectus ipsa. Quibusdam?
		</p>
	</body>
	<%- include('./partials/foot.ejs') %>
</html>
