@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

/* ********************************* General ******************************** */
body {
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 20px;
	font-family: "Open Sans", sans-serif;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

a:hover {
	color: black;
}

h1 {
	margin: 0;
}

footer {
	position: absolute;
	bottom: 0;
}

/* *********************************** Nav ********************************** */

nav {
	border-bottom: 1px solid rgb(192, 192, 192);
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
nav ul {
	align-items: center;
	display: flex;
	justify-content: center;

	padding: 0 12px;
}
nav li {
	list-style-type: none;
	padding: 12px;
}
nav h1 {
	font-size: 3em;
	margin: 12px;
}
nav p,
nav a {
	color: #777;
	font-weight: 300;
}

/* ********************************** Table ********************************* */

table,
th,
td {
	justify-self: center;
	text-align: center;
	/* border: 2px solid grey; */
	border: 1px solid rgb(173, 173, 173);
	border-collapse: collapse;
	padding: 4px 12px;
	margin: 0 auto;
}
th#description-header {
	color: white;
	background-color: black;
}

/* ********************************** Input ********************************* */

label {
	font-weight: bold;
	text-transform: capitalize;
}
input {
	margin: 20px 0;
}
button {
	width: 100%;
	font-weight: bold;
}
