@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

/* ********************************* General ******************************** */

body {
	max-width: 700px;
	margin: 20px auto;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

a:hover {
	color: black;
}

h1 {
	margin: 0;
}

footer {
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* ******************************** Main DIVs ******************************* */

.films {
	width: 100%;
}
.modify {
	max-width: 400px;
}

/* *********************************** Nav ********************************** */

nav {
	border-bottom: 1px solid rgb(192, 192, 192);
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
nav ul {
	align-items: center;
	display: flex;
	justify-content: center;

	padding: 0 12px;
}
nav li {
	list-style-type: none;
	padding: 12px;
}
nav h1 {
	font-size: 3em;
	margin: 12px;
}
nav p,
nav a {
	color: #777;
}

/* ********************************** Table ********************************* */

table {
	width: 100%;
	table-layout: auto;
}
#film-post-table {
	table-layout: fixed;
}
table,
th,
td {
	box-sizing: border-box;
	justify-self: center;
	text-align: center;
	border: 1px solid rgb(173, 173, 173);
	border-collapse: collapse;
	margin: auto;
}
th#description-header {
	color: white;
	background-color: black;
}
tr {
	width: auto;
}
td {
	padding: 4px 10px;
}
/* ********************************** Input ********************************* */

label {
	font-weight: bold;
	text-transform: capitalize;
}
input {
	display: inline;
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
}
button {
	font-weight: bold;
	height: 50px;
	width: 100%;
}
#post-button {
	width: 90%;
}
